pre, code {
  font-family: "Courier New", monospace;
  background-color: #fafafa;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

html {
  font-size: 18px;
  max-width: 100%;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%;
}

body {
  color: #444;
  font-family: sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 80%;
  line-height: 1.45;
  padding: .25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1 { border-bottom: 1px solid #eaeaea; }

h1, h2, h3 {
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}

blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

div.header {
    border: 1px solid darkgray;
}

div.header h1 {
    margin: 0px;
}

div.header a, input[type=text], button[type=submit] {
  margin: 2px;
}

div.header a, div.header button[type=submit] {
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 3px;
    background: #54b8fb;
    color: black;
    float: left;
    font-size: 18px;
}

