[Wiki]
Title = My Wiki
DefaultPage = index.md

# You can use the example stylesheet in misc/stylesheet.css
Stylesheet = myStylesheet.css

[Git]
Repository = /path/to/repository
User.Name = Wiki
User.Email = wiki@localhost
