[Wiki]
Title = My Wiki
DefaultPage = index.md

## To change the stylesheet set a path in your repository
#Stylesheet = /path/to/custom/stylesheet

# Port = 8080
# DataDir = /path/to/htmlfiles

[Git]
Repository = /path/to/repository
User.Name = Wiki
User.Email = wiki@localhost
